* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  @keyframes bgPulse {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  body {
    background: radial-gradient(circle,rgba(148, 187, 233, 1) 0%, rgba(238, 174, 202, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 400% 400%;
    animation: bgPulse 15s ease infinite;
  }
  
  .container {
    text-align: center;
    color: white;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .buttons a {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
    z-index: 1000;
  }
  
  .buttons a:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .leaf {
    position: absolute;
    top: 0;
    width: 30px;
    opacity: 1;
    transition: opacity 1s ease;
    pointer-events: none;
  }
  
  .fade-out {
    opacity: 0;
  }

  #ava {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* okrąg */
    border: 4px solid white; /* biała obwódka */
    object-fit: cover; /* ładne kadrowanie */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* opcjonalny cień */
  }